/* General styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('/src/img/chatroomBG.jpg');
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

/* Chatroom styles */
.chatroom-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px; /* Adjust max-height as needed */
}

.message-container {
  margin-bottom: 5px;
  clear: both;
  overflow: auto;
}

/* Styles for your messages */
.message-right {
  float: right;
  background-color: #99ddff; /* Light blue background for your messages */
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-left {
  float: left;
  background-color: #e0e0e0; /* Light gray background for others' messages */
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.bold-name {
  font-weight: bold;
}

.chatroom-container .message-container:nth-child(even) {
  background-color: #eaeaea; /* Alternate background color for even messages */
}

/* Message input styles */
#messageForm {
  margin-top: 10px;
}

#messageInput {
  width: calc(100% - 70px); /* Adjust width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#messageForm button {
  width: 60px;
  padding: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}