/* General styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('../img/chatroomBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center align content */
}

h1 {
  margin-bottom: 10px;
}

/* Chatroom styles */
.chatroom-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.message-container {
  margin-bottom: 5px;
  clear: both;
  overflow: auto;
}

/* Styles for your messages */
.message-right {
  float: right;
  background-color: #99ddff;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-left {
  float: left;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.bold-name {
  font-weight: bold;
}

.chatroom-container .message-container:nth-child(even) {
  background-color: #eaeaea;
}

/* Message input styles */
#messageForm {
  margin-top: 10px;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
}

#messageInput {
  flex: 1; /* Take remaining space */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#messageForm button {
  width: 60px;
  padding: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
