@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Montserrat', sans-serif; /* Set Montserrat as the default font */
}

body {
  font-family: 'Poppins', sans-serif; /* Set Poppins as the font for the body */
  margin: 0;
  padding: 0;
  background-image: url('../img/loginWallpaper.jpg');
  background-size: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 800px; /* Adjust the width as needed */
  transform: translate(-50%, -50%);
  background-color: rgba(64, 5, 109, 0.8); /* Transparent purple color with 80% opacity */
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

/* Existing CSS styles */
th, td, h1 {
  color: white; /* Set text color to light gray */
}

/* New CSS styles for table */
table {
  border-collapse: collapse; 
  width: 100%; 
}

th, td {
  padding: 8px; 
}

th:nth-child(1), td:nth-child(1), /* Target (Room ID) */
th:nth-child(2), td:nth-child(2) { /* Target (Room Name) */
  border: 1px solid white; /* Add white border to cells */
}
.icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #0970dd;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

button.join {
  background-color: #226e25;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Add margin-right for gap */
}

button.delete {
  background-color: #a2170d; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #333; /* Dark background color */
}

/* Links inside the navigation bar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2; /* Light text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background color of links on hover */
.navbar a:hover {
  background-color: #ddd; /* Light background color on hover */
  color: black; /* Dark text color on hover */
}

/* Style for the logout button */
.logout-btn {
  float: left;
  display: block;
  color: #f2f2f2; /* Light text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333; /* Dark background color */
}

/* Change background color of logout button on hover */
.logout-btn:hover {
  background-color: #ddd; /* Light background color on hover */
  color: black; /* Dark text color on hover */
}
